{% extends 'function/base.html' %}
{% load staticfiles %}
{% block title %}投入品使用信息添加{% endblock %}
{% block css %}
{% endblock %}
{% block functionClass7 %}subAsideLinkActive{% endblock %}
{% block pathNav %}
    <li>投入品管理</li>
    <li class="active"><a href="{% url 'itemCost' %}">投入品种类</a></li>
    <li>投入品使用信息添加</li>
{% endblock %}
{% block addOrReturn %}
    <a href="{% url 'itemCost' %}" style="float:right">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        返回
    </a>
{% endblock %}
{% block tips %}<span style="color:blue">&lt仅能为尚未收获的批次添加投入品使用信息&gt</span>{% endblock %}
{% block functionContent %}
    <form class="form-horizontal"  method="post" action="{% url 'itemCostAdd' %}">
        <div class="form-group">
            <label for="item" class="col-sm-2 control-label ">投入品品种</label>
            <div class="col-sm-3">
                <select class="form-control" name="item">
                <option>无</option>
                {% for item in item_list %}
                  <option value="{{ item.id }}">{{ item.itemName }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="costDescription" class="col-sm-2 control-label ">使用备注</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="costDescription" placeholder="请输入使用备注">
            </div>
        </div>
        <div class="form-group">
            <label for="batch" class="col-sm-2 control-label ">使用批次</label>
            <div class="col-sm-3">
                <select class="form-control" name="batch">
                <option>无</option>
                {% for batch in batch_list %}
                  <option value="{{ batch.id }}">{{ batch.sowingName }}--{{ batch.sowingProduction.rawProductionName }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="member" class="col-sm-2 control-label ">负责员工</label>
            <div class="col-sm-3">
                <select class="form-control" name="member">
                <option>无</option>
                {% for member in member_list %}
                  <option value="{{ member.memberID }}">{{ member.memberName }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">使用时间</label>
            <div class="col-sm-8">
                <div class="col-sm-4 input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input type="text" name="date" class="form-control" style="background-color: white" size="16"  value="" readonly>
                    <span class="input-group-addon "><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon "><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <input type="hidden" id="dtp_input2" value="" /><br/>
        </div>
        {% if error.itemName %}
            <div class="alert alert-danger col-md-offset-2 col-md-8 " role="alert">{{ error.itemName.0 }}</div>
        {% endif %}
        {% if error.itemDescription %}
            <div class="alert alert-danger col-md-offset-2 col-md-8 " role="alert">{{ error.itemDescription.0 }}</div>
        {% endif %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">确认添加</button>
        </div>
      </div>
        {% csrf_token %}
    </form>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'datetimepicker/jquery/jquery-1.8.3.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate:new Date()
        });
    </script>
{% endblock %}