{% extends 'function/base.html' %}
{% load staticfiles %}
{% block title %}已有账号{% endblock %}
{% block css %}{% endblock %}
{% block functionClass3 %}subAsideLinkActive{% endblock %}
{% block pathNav %}
    <li>账号管理</li>
    <li class="active"><a href="{% url 'userList' %}">已有账号</a></li>
{% endblock %}
{% block addOrReturn %}
    <a href="{% url 'distributeUser' %}" style="float:right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        添加
    </a>
{% endblock %}
{% block functionContent %}
    <table class="table table-bordered table-hover table-striped text-center">
        <tr>
            <td>账号名</td>
            <td>持有者</td>
            {% if request.user.identityClass == 0  %}
                <td>隶属联盟</td>
            {% else %}
                <td>隶属公司</td>
            {% endif %}
            <td>账户等级</td>
            <td>
                账户创建日期
                {% if order == 1 %}
                    <a href="?order=2"><span class="glyphicon glyphicon-arrow-up small" aria-hidden="true"></span></a>
                {% else %}
                    <a href="?order=1"><span class="glyphicon glyphicon-arrow-down small" aria-hidden="true"></span></a>
                {% endif %}
            </td>
            <td>编辑</td>
        </tr>
        {% for userInfo in user_list %}
            <tr>
                <td>{{ userInfo.username }}</td>
                <td>{{ userInfo.holder }}</td>
                <td>
                    {% if userInfo.company %}
                        {{ userInfo.company.companyName }}
                    {% else %}
                        {{ userInfo.unityID.unityName }}
                    {% endif %}
                </td>
                <td>
                    {% if userInfo.identityClass == 3 %}
                        操作员
                    {% elif userInfo.identityClass == 2 %}
                        系统操作员
                    {% else %}
                        联盟管理员
                    {% endif %}
                </td>
                <td>{{ userInfo.date_joined|date:"Y-m-d H:i:s" }}</td>
                <td>
                    {% if not userInfo.username == request.user.username %}
                        <a data-toggle="modal" data-target="#myModal1" onclick="delID({{ userInfo.id }})">删除</a>
                        <a data-toggle="modal" data-target="#myModal2" onclick="sendID({{ userInfo.id }})">重置密码</a>
                    {% else %}
                        本账户
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block pagination %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {% if user_list.has_previous %}
                <li>
                    <a href="?page={{ user_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for pg in user_list.paginator.page_range %}
                {% if user_list.number == pg %}
                    <li class="active"><a href="?page={{ pg }}&order={{ order }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}&order={{ order }}">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}
            {% if user_list.has_next %}
                <li>
                    <a href="?page={{ user_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示信息</h4>
                </div>
                <div class="modal-body">
                    确认删除?
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delete_id"/>
                    <input type="hidden" id="url_root" value="{% url 'userInfoDelete' %}"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="urlSubmit_delete()" class="btn btn-primary">确认</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确认重置?</h4>
                </div>
                <div class="modal-body" style="text-align: center">
                    <input id="newPwd" value=""/>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="user_id" value=""/>
                    <input type="hidden" id="url_resetPwd" value="{% url 'resetPwd' %}"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="sendPwd()" class="btn btn-primary">确认</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/deleteTips.js' %}"></script>
    <script src="{% static 'js/resetPwd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/getCookie.js' %}"></script>
{% endblock %}