{% extends 'function/base.html' %}
{% load staticfiles %}
{% block title %}添加设备{% endblock %}
{% block css %}
{% endblock %}
{% block functionClass2 %}subAsideLinkActive{% endblock %}
{% block pathNav %}
    <li>机构管理</li>
    <li class="active"><a href="{% url "equipmentInfo" %}">设备信息</a></li>
    <li>添加设备</li>
{% endblock %}
{% block addOrReturn %}
    <a href="{% url 'equipmentInfo' %}" style="float:right">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        返回
    </a>
{% endblock %}
{% block functionContent %}
    <form class="form-horizontal"  method="post" action="{% url 'equipmentInfoAdd' %}">
        <div class="form-group">
            <label for="equipmentName" class="col-sm-2 control-label">设备名称</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="equipmentName" placeholder="请输入设备名称">
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label ">数量</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="amount" placeholder="请输入设备数量">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label ">备注</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="description" placeholder="请填写该设备的备注信息，该信息不对外显示">
            </div>
        </div>
        <div class="form-group">
            <label for="share" class="col-sm-2 control-label ">共享与否</label>
            <div class="col-sm-3">
                <select class="form-control" name="share" id="share">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="shareCondition" class="col-sm-2 control-label ">共享条件</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="shareCondition" name="shareCondition" placeholder="请填写该设备的共享条件,包括联系方式,这里的信息将对外显示">
            </div>
        </div>

        {% if error.equipmentName %}
            <div class="alert alert-danger col-md-offset-2 col-md-8 " role="alert">{{ error.equipmentName.0 }}</div>
        {% endif %}
        {% if error.amount %}
            <div class="alert alert-danger col-md-offset-2 col-md-8 " role="alert">{{ error.amount.0 }}</div>
        {% endif %}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">确认添加</button>
        </div>
      </div>
        {% csrf_token %}
    </form>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'datetimepicker/jquery/jquery-1.8.3.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/shareSwitch.js' %}"></script>
{% endblock %}